body {
  padding-top: 10px;
  background: #232323;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#header {
  text-align: center;
}
#banner {
  padding: 0px;
  height: 300px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}